# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
env/

# FastAPI
.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# Models and data
models/*
!models/.gitkeep
temp/*
!temp/.gitkeep
output/*
!output/.gitkeep

# Logs
logs/
*.log

# OS
.DS_Store

#모델
.pth

.json
.jpg
.png

**/.claude/settings.local.json

!app/models
IDM-VTON-main
models
*.jpg
*.png
*.yaml
lastBackup
app
sample
