fastapi>=0.95.0
uvicorn>=0.22.0
python-multipart>=0.0.6
pydantic>=2.0.0
torch>=1.9.0
torchvision>=0.10.0
numpy>=1.19.5
opencv-python>=4.5.3
Pillow>=8.3.1
transformers>=4.10.0
albumentations>=1.0.3
matplotlib>=3.5.0
scikit-image>=0.18.0
tqdm>=4.62.0
# Firebase 연동 시 필요
# firebase-admin>=5.0.0
einops
kornia
timm
pydantic-settings